
<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
My name is <%=@name%>
<br />
My age is <%=@age%> 
<br />
<%=@array[0] + @array[1]%><br />
<%=@array.inject(:+)%><br />
<%= puts @array %>
<%=@sum%><br />
<%=@diff%>